<!DOCTYPE html>
<html>
<head>
    <title>Layout testing</title>
</head>
<body>

{% block header %}
    <h1>Header</h1>
    -----------------------------------------------------------------------
{% endblock %}

{% block navigation %}
    <h3>navigation</h3>
    {% include 'BlogAppBundle:Default:navigation.html.twig' %}
    -----------------------------------------------------------------------
{% endblock %}

{% block body %}{% endblock %}

</body>
</html>