            <div class="main_menu">
                <nav>
                    <ul id="nav2">
                        <li><a href="">World News <span>From Around The Globe</span></a></li>
                        <li><a href="">Celebrity News <span>Juicy Hollywood Gossip</span></a>
                            <ul>
                                <li><a href="">Home Page</a></li>
                                <li><a href="">Blog Page</a></li>
                                <li><a href="">Full width Page</a></li>
                                <li><a href="">Archive Page</a></li>
                            </ul>
                        </li>
                        <li><a href="">Technology <span>Apps, Internet & Gadgets</span></a> </li>
                        <li><a href="">Lifestyle Tips <span>Your Health & Happiness</span></a> </li>
                        <li><a href="">Entertainment <span>Movies, Music & Reviews</span></a>
                            <ul>
                                <li><a href="">Home Page</a></li>
                                <li><a href="">Blog Page</a></li>
                                <li><a href="">Full width Page</a></li>
                                <li><a href="">Archive Page</a></li>
                            </ul>
                        </li>
                        <li><a href="">Travel News <span>Travel news guides & Tips</span></a></li>
                    </ul>
                </nav>
            </div>
