{% for post in posts %}
    <div>
        <p>
            {{ post.title }}
        </p>
        <p>
            {{ post.summary }}
        </p>
        <p>
            {{ post.email }}
        </p>  
        <p>
            <img src="{{ asset("uploads/pictures/#{post.id}.") ~ post.extension }}" style="max-height:250px;">
        </p>
    </div>
    <hr>
{% endfor %}